.color-primary {
  color: #29e798;
}

.hidden {
  visibility: hidden;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.opacity-none {
  opacity: 0;
}

.block-scroll {
  overflow: hidden;
}

.animation {
  -webkit-animation-name: card;
          animation-name: card;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes card {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes card {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  color: #eee;
  background: #141414;
  font-family: "roboto";
  font-weight: 300;
  font-size: 62.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

html::-webkit-scrollbar {
  width: 0px;
}

body {
  width: 100vw;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  row-gap: 5rem;
  max-width: 1240px;
}

a {
  text-decoration: none;
  color: #eee;
}

.logo {
  width: 100%;
  font-size: 2rem;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

span {
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #29e798;
}

.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background: rgba(20, 20, 20, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.modal-select {
  width: 4rem;
  height: 4rem;
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  color: #eee;
  border: none;
  outline: none;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(0, 0, 0, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.5), 2px -2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(0, 0, 0, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.5), 2px -2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-select:hover {
  color: #29e798;
  background: #202020;
}

.modal-select-prev {
  border-radius: 50% 0 0 50%;
}

.modal-select-next {
  border-radius: 0 50% 50% 0;
}

.modal-content::after {
  content: "";
  position: absolute;
  top: -50%;
  right: 75%;
  width: 100%;
  height: 200vh;
  background: rgba(20, 20, 20, 0.8);
  z-index: -1;
  -webkit-transform: rotateZ(33deg);
          transform: rotateZ(33deg);
}

.modal-content {
  overflow: hidden;
  position: relative;
  padding: 2rem;
  width: 30rem;
  height: 45rem;
  max-height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  row-gap: 1.5rem;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(0, 0, 0, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.5), 2px -2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(0, 0, 0, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.5), 2px -2px 5px rgba(0, 0, 0, 0.5);
  background: #1a1a1a;
}

.modal-content .modal-content-header {
  width: 10rem;
  height: 10rem;
}

.modal-content .modal-content-header img {
  width: 90%;
  height: 90%;
}

.modal-content .modal-content-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.modal-content .modal-content-section {
  width: 100%;
  height: auto;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  row-gap: 0.5rem;
}

.header {
  width: 240px;
  text-align: center;
  font-size: 2rem;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar {
  width: 100%;
  max-width: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  row-gap: 2rem;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar input[type="search"] {
  padding: 1rem;
  width: 100%;
  height: 3rem;
  border: none;
  outline: none;
  background: #1a1a1a;
  color: #29e798;
  border-radius: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar .filters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1rem;
}

.navbar .filters a {
  min-width: 5rem;
  text-align: center;
  padding: 0.5rem 1rem;
  background: #1a1a1a;
  border-radius: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.navbar .filters a.active {
  background: #29e798;
  color: #141414;
  font-weight: bold;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 4rem 3rem;
}

.main figure:hover picture::before {
  color: #141414;
}

.main figure:hover picture::after,
.main figure:hover .buttons button {
  background: #29e798;
  color: #141414;
}

.main figure:hover figcaption::after {
  opacity: 0.3;
}

.main figure {
  position: relative;
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  row-gap: 1.5rem;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.main figure picture {
  padding-bottom: 0.5rem;
  overflow: hidden;
  position: relative;
  width: 8rem;
  height: 8rem;
  background: #202020;
  -webkit-box-shadow: -1px -1px 3px #202020, -1px 0px 3px #202020, 0px -1px 3px #202020, 1px 1px 3px #202020, 0px 1px 3px #202020, 1px 0px 3px #202020;
          box-shadow: -1px -1px 3px #202020, -1px 0px 3px #202020, 0px -1px 3px #202020, 1px 1px 3px #202020, 0px 1px 3px #202020, 1px 0px 3px #202020;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.main figure picture::before {
  position: absolute;
  top: 0.3rem;
  content: attr(data-id);
  z-index: 1;
  font-size: 2rem;
  font-weight: bold;
  color: transparent;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.main figure picture::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -4rem;
  background: #141414;
  color: red;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.main figure picture > * {
  z-index: 1;
  width: 5.5rem;
  height: 5.5rem;
}

.main figure figcaption::after {
  opacity: 0;
  content: "";
  position: absolute;
  width: 4rem;
  height: 1rem;
  border-radius: 50%;
  top: -1.5rem;
  left: calc( 50% - 2rem);
  background: black;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.main figure figcaption {
  -webkit-box-shadow: -1px -1px 3px #141414 inset, -1px 0px 3px #141414 inset, 0px -1px 3px #141414 inset, 1px 1px 3px #141414 inset, 0px 1px 3px #141414 inset, 1px 0px 3px #141414 inset;
          box-shadow: -1px -1px 3px #141414 inset, -1px 0px 3px #141414 inset, 0px -1px 3px #141414 inset, 1px 1px 3px #141414 inset, 0px 1px 3px #141414 inset, 1px 0px 3px #141414 inset;
  position: relative;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  row-gap: 0.5rem;
  text-transform: capitalize;
  background: #1a1a1a;
}

.main figure figcaption p {
  font-size: 1.2rem;
}

.main figure .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.main figure .buttons button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 20px;
  background: #202020;
  color: #eee;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: -1px -1px 3px #202020, -1px 0px 3px #202020, 0px -1px 3px #202020, 1px 1px 3px #202020, 0px 1px 3px #202020, 1px 0px 3px #202020;
          box-shadow: -1px -1px 3px #202020, -1px 0px 3px #202020, 0px -1px 3px #202020, 1px 1px 3px #202020, 0px 1px 3px #202020, 1px 0px 3px #202020;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 0.5rem 1rem;
}

.pagination a {
  padding: 0.5rem;
  background: #1a1a1a;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.pagination a.active, .pagination a:hover {
  color: #29e798;
  background: #202020;
}

.footer {
  font-size: 1.2rem;
  opacity: .8;
}
/*# sourceMappingURL=style.css.map */