.pagination
    +flex(center, center, row nowrap)
    column-gap: 1rem
    .next,.prev
        padding: 0.5rem 3rem
        background: $black_2
        border-radius: 20px
        cursor: pointer
        user-select: none
        transition: all 200ms ease
        &:hover
            color: $green
            background: $black_1